h1{background-color: rgba(216, 112, 147, 0.539);font-size: 50px;}
#third{background-color: antiquewhite;}
#first{background-color: rgba(205, 125, 28, 0.664);}
#second{background-color: hsla(500, 50%, 50%, alpha);}
#fourth{background-color: rgb(22, 132, 197);}
.A{background-color: rgb(127, 255, 212);}
.first{background-color: rgba(212, 87, 87, 0.121);}
h1,.first,.A{background-color: rgba(127, 255, 212, 0.782);}

ul{font-size: 20px;}
li{font-size: 2em;}
html{font-size: 30px;}
h2{font-size: 2rem;}


html{font-size: 40px;}
h2{font-size: 3vw; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500; 
    font-style: italic;
}
h1{font-family: "Stack Sans Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
li{font-size: 5vw;}