h1{background-color: orange;
height: 40px;
width: 350px;
border-radius: 30px;


/*border-width: 5px;
border-style: solid;
border-color: black;  Content-padding-border-margin
*/

border: 3px solid black;
padding: 10px;
margin: 10px;
}
h2{background-color: pink;
height: 30px;
width: 300px;
border: 4px dashed black;
border-radius: 30px;
padding: 10px;
margin: 10px;
}
p{background-color: aquamarine;
padding: 10px;
border: 4px dashed black;
border-radius: 30px;
margin: 10px;}